*   {
    font-family: "Open Sans", Arial, sans-serif;
    }
    body {
        background-image: url("Assets/jump.jpg");
        padding: 0;
        margin: 0;
        background-repeat: no-repeat;
        background-color: bisque;
        background-size: cover;
    }
    a:link {
        color:rgb(43,43,43);
    }
    a:visited {
        color:rgb(43,43,43);
    }
    li {
        display: inline-block;
    }
    a {
        text-decoration: none;
        transition: all 0.2s ease-in-out;
    }
    a:hover {
        color: silver;
    }
    .rand {
        font-size: 1.125em;
        line-height: 50px;
        text-align: center;
        background-color:white ;
    }
    .inline-list {
        list-style: none;
        display:inline-block;
        text-align: center;
    }
    
    .logo{
        width: 200px;
        vertical-align: middle;
    }
    #brush {
        background-color: gray;
        height: 5px;
    }
    .post1  {
        background-color: white;
        position: absolute;
        margin-top: 5%;
        left:50%;
        transform: translate(-50%,0);
        width:55%;
    }
.header {
        border: 0;
        background-color: #3a3a3a;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding:10px;
        padding-right: 0;
    }
#titlu1{
        font-weight: bold;
        font-size: xx-large;
        color:white;
    }
.jump   {
    font-style: italic;
    font-weight: bold;
}
.chapter    {
    margin-left:25px ;
    margin-right: 25px;
    margin-bottom: 25px;
    line-height: 30px;

}
.header td  {
    background-color: #3a3a3a;
    color:#ffffff;
}
.header tr  {
    background-color: #3a3a3a;
    color:#ffffff;
}
