*   {
font-family: "Open Sans", Arial, sans-serif;
background: rgb(255, 255, 255);
}
body {
    padding: 0;
    margin: 0;
}
a:link {
    color:rgb(43,43,43);
}
a:visited {
    color:rgb(43,43,43);
}
li {
    display: inline-block;
}
a {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
a:hover {
    color: silver;
}
.rand {
    font-size: 1.125em;
    line-height: 50px;
    text-align: center;
    background-color:white ;
}
.inline-list {
    list-style: none;
    display:inline-block;
    text-align: center;
}

.logo{
    width: 200px;
    vertical-align: middle;
}
#brush {
    background-color: gray;
    height: 5px;
}
#gw2    {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
}